<template>
    <div>

        <div class="row">
            <div class="col s5">
                <h2>Акция</h2>

                <div class="row">
                    <div class="col s5">
                        <ul>
                            <li>
                                <a @click.prevent="addTitleBlock()" href="">Добавить подзаголовок</a>
                            </li>
                            <li>
                                <a @click.prevent="addTextBlock()" href="">Добавить абзац</a>
                            </li>
                            <li>
                                <a @click.prevent="addPhotoBlock()" href="">Добавить фото блок</a>
                            </li>
                            <li>
                                <a @click.prevent="addVideo()" href="">Добавить видео блок</a>
                            </li>
                            <li>
                                <a @click.prevent="addBanner()" href="">Добавить баннер</a>
                            </li>
                            <li>
                                <!--                                <a @click.prevent="addTextBlock()" href="">Добавить блок с товарами</a>-->
                            </li>
                        </ul>


                    </div>
                </div>
                <template v-for="(item, index) in actions">
                    <div class="row">
                        <template v-if="item.type=='text'">
                            <h5>Абзац статьи</h5>
                            <div class="input-field col s8">
                                <textarea v-model="actions[index].value" name="" id="" cols="50"
                                          rows="40">Текст</textarea>
                            </div>
                            <div class="input-field col s4">
                                <button class="btn" @click="deleteItemActions(index)">Удалить абзац</button>
                            </div>

                        </template>

                        <template v-if="item.type=='title'">
                            <div class="input-field col s8">
                                <input v-model="actions[index].value" id="title" type="text" class="validate">
                                <label for="title">Заголовок</label>
                            </div>

                            <div class="input-field col s4">
                                <button class="btn" @click="deleteItemActions(index)">Удалить заголовок</button>
                            </div>
                        </template>
                        <template v-if="item.type=='video'">
                            <div class="input-field col s8">
                                <input v-model="actions[index].value" id="first_name" type="text" class="validate">
                                <label for="first_name">Видео</label>
                            </div>

                            <div class="input-field col s4">
                                <button class="btn" @click="deleteItemActions(index)">Удалить видео</button>
                            </div>
                        </template>
                        <template v-if="item.type=='banner'">

                            <div class=" input-field col s8">
                                <input @change="onAttachmentChange($event, index)" ref="file" type="file">
                            </div>

                            <div class="input-field col s4">
                                <button class="btn" @click="deleteItemActions(index)">Удалить баннер</button>
                            </div>
                        </template>

                        <template v-if="item.type=='image'">
                            <template v-for="(itm, i) in item.images">
                                <div class=" input-field col s8">
                                    <input @change="onAttachmentChangePhoto($event, index, i)"  type="file">
                                </div>

                                <div class="input-field col s4">
                                    <button class="btn" @click="deletePhoto(index, i)">Удалить фото</button>
                                </div>
                            </template>
                            <div class="input-field col s12">
                                <button class="btn btn-success" @click="addPhoto(index)">Добавить фото</button>
                            </div>

                        </template>


                    </div>
                </template>
                <div class="input-field col s4">
                    <button class="btn btn-success" @click="saveActions()">Сохранить</button>
                </div>

            </div>
            <div class="col s7">

                <div v-for="(item, index) in actions">
                    <template v-if="item.type=='title'">
                        <h3>{{item.value}}</h3>
                    </template>
                    <template v-if="item.type=='text'">
                        <p>{{item.value}}</p>
                    </template>

                    <template v-if="item.type=='video'">
                        <iframe style="margin-top: 10px;" width="100%" height="315" :src="getVideoLink(index)"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </template>
                    <template v-if="item.type=='banner'">
                        <img style="display: block;" width="100%" v-if="item.value" :src="getLinkFile(index)" alt="">
                    </template>

                    <template v-if="item.type=='image'">
                        <template v-for="(img, i) in item.images">
                            <div style="margin-bottom: 15px;" class="col s4">
                                <img style="display: block;" width="200px" height="150px" v-if="img.value" :src="getLinkImage(index, i)" alt="">
                            </div>
                        </template>

                    </template>

                </div>
            </div>
        </div>
    </div>

</template>

<script>


    export default {

        data() {
            return {
                title: null,
                slider: null,
                dt_start: null,
                dt_end: null,
                description: null,
                actions: [],
                //file: null,
                imageMain: null
            }
        },

        mounted() {
            console.log('Component mounted.')
        },

        created() {

        },

        methods: {
            saveActions() {
                let params = {};

                params.title = this.title;
                params.description = this.description;
                params.text = this.actions;
                params.imageMain = this.imageMain;
                params.slider = this.slider;
                params.dt_start = this.dt_start;
                params.dt_end = this.dt_end;

                if (this.actions.length == 0) {
                    alert('заполните текст акции');
                    return false;
                }

                axios
                    .post("/actions/store", params,)
                    .then(response => {

                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            },

            deleteItemActions(index) {
                this.actions.splice(index, 1);
            },

            addTextBlock() {
                let data = {};
                data.type = 'text';
                data.value = null;
                this.actions.push(data);
            },

            addTitleBlock() {
                let data = {};
                data.type = 'title';
                data.value = null;
                this.actions.push(data);
            },

            addVideo() {
                let data = {};
                data.type = 'video';
                data.value = null;
                this.actions.push(data);
            },

            getVideoLink(index) {
                return 'https://www.youtube.com/embed/' + this.actions[index].value;
            },

            addBanner() {
                let data = {};

                data.type = 'banner';
                data.value = null;
                this.actions.push(data);

            },

            addPhotoBlock() {
                let data = {};

                data.type = 'image';
                data.images = [];
                this.actions.push(data);
            },

            onAttachmentSlideChange(e) {

                let form = new FormData();
                form.append('file', e.target.files[0]);
                axios
                    .post("/actions/upload", form, {
                        headers: {"Content-Type": "multipart/form-data"}
                    })
                    .then(response => {
                        this.slider = response.data;
                        alert('Слайд загружен');
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });


            },

            onAttachmentImageMainChange(e) {
                let form = new FormData();
                form.append('file', e.target.files[0]);
                axios
                    .post("/actions/upload", form, {
                        headers: {"Content-Type": "multipart/form-data"}
                    })
                    .then(response => {
                        this.imageMain = response.data;
                        alert('Фото загружено');
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            },

            addPhoto(index) {
                let data = {};
                data.value = null;
                this.actions[index].images.push(data);
            },


            uploadImage(index) {
                let form = new FormData();
                form.append('file', this.file);

                axios
                    .post("/actions/upload", form, {
                        headers: {"Content-Type": "multipart/form-data"}
                    })
                    .then(response => {
                        this.actions[index].value = response.data;
                        this.file = null;
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            },

            onAttachmentChangePhoto(e, index, i) {

                let form = new FormData();
                form.append('file', e.target.files[0]);
                axios
                    .post("/actions/upload", form, {
                        headers: {"Content-Type": "multipart/form-data"}
                    })
                    .then(response => {
                   this.actions[index].images[i].value=response.data;
                   alert('Фото загруженно');
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            },

            deletePhoto(index, i) {
                console.log(index, i);
                this.actions[index].images.splice(i, 1);
            },


            onAttachmentChange(e, index) {
                console.log(e.target.files[0], index);
                let form = new FormData();
                form.append('file', e.target.files[0]);

                axios
                    .post("/actions/upload", form, {
                        headers: {"Content-Type": "multipart/form-data"}
                    })
                    .then(response => {
                        this.actions[index].value = response.data;
                        this.file = null;
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });

            },

            getLinkFile(index) {
                return '/storage/' + this.actions[index].value;
            },

            getLinkImage (index, i) {
                return '/storage/'+this.actions[index].images[i].value;
            }


        }
    }
</script>
