<template>
    <div>
        <div class="row">
            <div class="col s12">
                <div class="input-field col s12">
                    <input v-model="title" id="first_name" type="text" class="validate">
                    <label for="first_name">Наименование</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="textarea2" v-model="description" class="materialize-textarea"></textarea>
                    <label for="textarea2">Краткое описание</label>

                </div>
                <div class="input-field col s6">
                    <input type="date" v-model="dt_start" id="dt_start" class="validate">
                    <label for="dt_start">Дата начала</label>
                </div>
                <div class="input-field col s6">
                    <input type="date" v-model="dt_end" id="dt_end" class="validate">
                    <label for="dt_end">Дата окончания</label>
                </div>


                <div class=" input-field col s12">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Главное фото</span>
                            <input @change="onAttachmentImageMainChange" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <div class=" input-field col s12">

                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Слайдер</span>
                            <input @change="onAttachmentSlideChange" type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s5">
                <h2>Акция</h2>

                <div class="row">
                    <div class="col s5">
                        <ul>
                            <li>
                                <a @click.prevent="addTextBlock()" href="">Добавить абзац</a>
                            </li>
                            <li>
                                <!--                                <a @click.prevent="addPhotoBlock()" href="">Добавить фото блок</a>-->
                            </li>
                            <li>
                                <a @click.prevent="addVideo()" href="">Добавить видео блок</a>
                            </li>
                            <li>
                                <a @click.prevent="addBanner()" href="">Добавить баннер</a>
                            </li>
                            <li>
                                <!--                                <a @click.prevent="addTextBlock()" href="">Добавить блок с товарами</a>-->
                            </li>
                        </ul>


                    </div>
                </div>
                <template v-for="(item, index) in actions">
                    <div class="row">
                        <template v-if="item.type=='text'">
                            <h5>Абзац статьи</h5>
                            <div class="input-field col s8">
                                <textarea v-model="actions[index].value" name="" id="" cols="50"
                                          rows="40">Текст</textarea>
                            </div>
                            <div class="input-field col s4">
                                <button class="btn" @click="deleteItemActions(index)">Удалить абзац</button>
                            </div>

                        </template>
                        <template v-if="item.type=='video'">
                            <div class="input-field col s8">
                                <input v-model="actions[index].value" id="first_name" type="text" class="validate">
                                <label for="first_name">Видео</label>
                            </div>

                            <div class="input-field col s4">
                                <button class="btn" @click="deleteItemActions(index)">Удалить видео</button>
                            </div>
                        </template>
                        <template v-if="item.type=='banner'">

                            <div class=" input-field col s8">
                                <input @change="onAttachmentChange(index)" ref="file" type="file">
                            </div>

                            <div class="input-field col s4">
                                <button class="btn" @click="deleteItemActions(index)">Удалить баннер</button>
                            </div>
                        </template>

                        <template v-if="item.type=='image'">
                            <template v-for="(i, index) in item.images">
                                <div class=" input-field col s8">
                                    <input @change="onAttachmentChange(index)" :ref="getRefs(index)" type="file">
                                </div>

                                <div class="input-field col s4">
                                    <button class="btn" @click="deleteItemActions(index)">Удалить баннер</button>
                                </div>
                            </template>
                            <div class="input-field col s4">
                                <button class="btn btn-success" @click="addPhoto(index)">Добавить фото</button>
                            </div>

                        </template>


                    </div>
                </template>
                <div class="input-field col s4">
                    <button class="btn btn-success" @click="saveActions()">Сохранить</button>
                </div>

            </div>
            <div class="col s7">

                <div v-for="(item, index) in actions">
                    <template v-if="item.type=='text'">
                        <p>{{item.value}}</p>
                    </template>

                    <template v-if="item.type=='video'">
                        <iframe style="margin-top: 10px;" width="100%" height="315" :src="getVideoLink(index)"
                                frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </template>
                    <template v-if="item.type=='banner'">
                        <img style="display: block;" width="100%" v-if="item.value" :src="getLinkFile(index)" alt="">
                    </template>

                </div>
            </div>
        </div>
    </div>

</template>

<script>
    const Noty = require('noty');

    export default {

        props:[
            'action'
        ],

        data() {
            return {
                title: null,
                slider: null,
                dt_start: null,
                dt_end: null,
                description: null,
                actions: [],
                file: null,
                imageMain: null,
                id: null
            }
        },

        mounted() {
            console.log('Component mounted.')
        },

        created() {

            this.actions=JSON.parse(this.action.json_text);
            this.title=this.action.title;
            this.slider=this.action.slider;
            this.dt_start=this.action.dt_start;
            this.dt_end=this.action.dt_end;
            this.description=this.action.description;
            this.file=this.action.file;
            this.imageMain=this.action.image;
            this.id=this.action.id;
        },

        methods: {

            getDataAction () {

            },

            saveActions() {
                let params = {};

                params.title = this.title;
                params.description = this.description;
                params.text = this.actions;
                params.imageMain=this.imageMain;
                params.slider=this.slider;
                params.dt_start=this.dt_start;
                params.dt_end=this.dt_end;
                params.id=this.id;

                if(this.actions.length==0) {
                    alert('заполните текст акции');
                    return false;
                }

                axios
                    .post("/actions/update", params,)
                    .then(response => {

                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            },

            deleteItemActions(index) {
                this.actions.splice(index, 1);
            },

            addTextBlock() {
                let data = {};
                data.type = 'text';
                data.value = null;
                this.actions.push(data);
            },

            addVideo() {
                let data = {};
                data.type = 'video';
                data.value = null;
                this.actions.push(data);
            },

            getVideoLink(index) {
                return 'https://www.youtube.com/embed/' + this.actions[index].value;
            },

            addBanner() {
                let data = {};

                data.type = 'banner';
                data.value = null;
                this.actions.push(data);

            },

            addPhotoBlock() {
                let data = {};

                data.type = 'image';
                data.images = [];
                this.actions.push(data);
            },

            onAttachmentSlideChange(e) {

                let form = new FormData();
                form.append('file', e.target.files[0]);
                axios
                    .post("/actions/upload", form, {
                        headers: {"Content-Type": "multipart/form-data"}
                    })
                    .then(response => {
                        this.slider=response.data;
                        alert('Слайд загружен');
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });


            },

            onAttachmentImageMainChange(e) {
                let form = new FormData();
                form.append('file', e.target.files[0]);
                axios
                    .post("/actions/upload", form, {
                        headers: {"Content-Type": "multipart/form-data"}
                    })
                    .then(response => {
                        this.imageMain=response.data;
                        alert('Фото загружено');
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            },

            addPhoto(index) {
                let data = {};
                data.value = null;
                this.actions[index].images.push(data);
            },


            async uploadImage(index) {
                let form = new FormData();
                form.append('file', this.file);
                axios
                    .post("/actions/upload", form, {
                        headers: {"Content-Type": "multipart/form-data"}
                    })
                    .then(response => {
                        this.actions[index].value = response.data;
                        this.file = null;
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            },

            onAttachmentChangePhoto(index) {

                this.file = this.$refs.image[0].files[0];
                this.uploadImage(index);
            },


            onAttachmentChange(index) {
                this.file = this.$refs.file[0].files[0]
                this.uploadImage(index);
            },

            getLinkFile(index) {
                return '/storage/' + this.actions[index].value;
            },


        }
    }
</script>
