<template>
    <div class="input-field col s12">
        <p>
            <label>
                <input  v-model="visible" @change="visible"  type="checkbox"/>
                <span>Выводить / Не выводить</span>
            </label>
        </p>
    </div>
</template>

<script>
export default {
    name: 'articlesVisible',

    props:[
      'action'
    ],
    data () {
        return {
           visible: this.action.visible
        }
    },
    watch:{
        visible (val) {
            this.visibleChange(val);
        }
    },

    methods:{
        visibleChange (visible) {
            this.visible=visible;
            const params={
                id: this.action.id,
                visible: visible
            }
            axios
                .post("/articles/update/visible", params,)
                .then(response => {

                })
                .catch(err => {
                    this.showError("Произошла ошибка, попробуйте позднее");
                    console.log(err);
                });
        }
    }
}
</script>
