<template>

    <div class="col s12">
        <div v-if="preolader==true" class="overlay">
            <div class="dash uno"></div>
            <div class="dash dos"></div>
            <div class="dash tres"></div>
            <div class="dash cuatro"></div>

        </div>


        <div class="col s6">
            <p>
                <label style="margin-right: 16px;">
                    <input v-model="sortType" @change="changeSort()" value="filter" id="one" type="radio"
                           class="filled-in"/>
                    <span>Сортировка для фильтров</span>
                </label>

                <label>
                    <input v-model="sortType" @change="changeSort()" value="product" id="two" type="radio"
                           class="filled-in"/>
                    <span>Сортировка для характеристики товара</span>
                </label>

            </p>
        </div>
        <table>
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Тип фильтрации</th>
                <th>№ очереди</th>
                <th>Золотое свойство</th>
                <th>Вкл / Выкл свойства</th>
                <th>Использовать как фильтр</th>
                <th>Количество значений свойства</th>
                <th>Свойств РАЭК</th>
            </tr>
            </thead>
            <tbody>

            <draggable
                @change='saveSort(list, $event)'
                :list="list"
                :disabled="!enabled"
                class="list-group--sort"
                ghost-class="ghost"
                :move="checkMove()"
                @start="dragging = true"
                @end="dragging = false"
            >
                <template v-if="list.length">
                    <template>
                        <tr :data-index="index"  v-for="(d, index) in list" class="list-group-item--sort">
                            <td>
                                <a :href="getLink('/category-retail/edit/', list[index].uid)">{{ list[index].title }}</a>
                            </td>
                            <td>
                                A
                            </td>
                            <td>
                                <input @change="updateQueueFeature(index)" type="text" v-model="list[index].pivot.queueFeature">
                            </td>
                            <td>
                                <label>
                                    <input type="checkbox"
                                           @click="setGoldFeature(list[index].pivot.gold, index)"
                                           :checked="checkChecked(list[index].pivot.gold)"
                                           :value="list[index].pivot.display_category_retail" class="filled-in"/>
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <p>
                                    <label>
                                        <input type="checkbox"
                                               @click="displayFeature(list[index].pivot.display_category_retail, index)"
                                               :checked="checkChecked(list[index].pivot.display_category_retail)"
                                               :value="list[index].pivot.display_category_retail" class="filled-in"/>
                                        <span></span>
                                    </label>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in"
                                               @click="useFilterFeature(list[index].pivot.useFilter, index)"
                                               :checked="checkChecked(list[index].pivot.useFilter)" :value="list[index].pivot.useFilter"/>
                                        <span></span>
                                    </label>
                                </p>
                            </td>
                            <td>
                                <a href=""
                                   @click.prevent="getValueFeature(list[index].uid, list[index].title, list[index].pivot.category_retail_uid, index)">
                                    {{ list[index].value_category.length }}
                                </a>
                            </td>
                            <td>
                                <multiselect
                                    @remove="onRemove(index, list[index].uid)"
                                    @select="onSelect(index, list[index].uid)"
                                    v-model="list[index].value"
                                    :options="optionFeatures"
                                    placeholder="Выбрать свойства"
                                    :multiple="true"
                                    label="descriptionRu"
                                    track-by="featureId"
                                    :close-on-select="false" :clear-on-select="false" :preserve-search="true"
                                >
                                    <template slot="selection" slot-scope="{ values, search, isOpen }"><span
                                        class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{
                                            values.length
                                        }} options selected</span>
                                    </template>
                                </multiselect>
                            </td>
                            <!--                    <td><a href="" @click.prevent="getEtim(d.pivot.category_retail_uid, d)">0</a></td>-->


                        </tr>
                        <template v-if="selectRow">
                            <tr v-if="selectRow===list[selectIndex].uid" class="feature-value" :id="getIdEl(list[selectIndex].uid)">
                                <td colspan="6">
                                    <div>
                                        <h4 style="text-align: center">{{ titleSelectedFeature }}</h4>
                                        <a href="getLinkProcessing()" class="btn btn-primary">Обработать</a>
                                    </div>
                                    <div class="row">

                                        <div class="col s6">
                                            <h5>Значения</h5>
                                            <ul v-for="(v, index) in valueFeature" class="value-list">
                                                <li>{{v.value.title}} - {{v.value.system}} <a target="_blank" :href="getLinlViewProducts(v.category_retail_uid, v.feature_value_retail_uid, v.feature_retail_uid)">Показать товар</a> </li>
                                            </ul>
                                        </div>

                                        <div class="col s6">
                                            <h5>Значение</h5>


                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </template>


                    </template>
                </template>

                <template v-else>
                    <tr>
                        <td style="text-align: center;" colspan="3"><b>Категории
                            отсутствуют</b></td>
                    </tr>
                </template>


            </draggable>
            </tbody>
        </table>
        <notifications group="foo"/>
    </div>

</template>

<script>
import draggable from 'vuedraggable';
import {VueNestable, VueNestableHandle} from 'vue-nestable'
import Multiselect from 'vue-multiselect'


export default {

    props: [
        'features',
        'options',

    ],
    components: {
        draggable,
        Multiselect,
        VueNestable,
        VueNestableHandle
    },
    data() {
        return {
            enabled: true,
            dragging: false,
            list: [],
            sortType: 'filter',
            preolader: false,
            showRightSidebar: false,
            showEtimFeature: false,
            value: null,
            optionFeatures: [],
            valueFeature: [],
            valueFeatureEtim: [],
            titleSelectedFeature: null,
            selectRow: null,
            selectIndex: null,
            nestableItems1: [
                {
                    id: 0,
                    text: 'Andy'
                }, {
                    id: 1,
                    text: 'Harry',
                    children: [{
                        id: 2,
                        text: 'David'
                    }]
                }, {
                    id: 3,
                    text: 'Lisa'
                }
            ],
            nestableItems2: [
                {
                    id: 2,
                    text: 'David'
                },
                {
                    id: 4,
                    text: 'Mike'
                },
                {
                    id: 5,
                    text: 'Edgar'
                }
            ]

        }
    },

    created() {

        this.optionFeatures = this.removeDuplicates();
        this.list = this.features.features;


    },

    computed: {
        draggingInfo() {
            return this.dragging ? "under drag" : "";
        }
    },
    mounted() {
        this.$root.$on('showEtimFeature', (payload) => {
            console.log(111);
            this.showRightSidebar = true;
            this.showEtimFeature = true;
        });


    },

    methods: {
        getLinkProcessing () {

        },
        getLinlViewProducts (category, value, f) {
            return '/features/products?category='+category+'&v='+value+'&feature='+f;
        },
        getIdEl(uid) {
            return 'tr-' + uid;
        },
        getValueFeature(uid, title, category, index) {
            this.selectIndex=index;
            axios
                .get("/features/get/value?feature=" + uid + '&category=' + category)
                .then(response => {
                    this.valueFeature = response.data.data;

                    this.titleSelectedFeature = title;
                    this.selectRow = uid;

                    let newArr = null;

                    // if (this.valueFeature.length > this.valueFeatureEtim.length) {
                    //     newArr = new Array(this.valueFeature.length).fill({});
                    //     newArr.splice(0, this.valueFeatureEtim.length, ...this.valueFeatureEtim);
                    // } else if (this.valueFeature.length < this.valueFeatureEtim.length) {
                    //     newArr = new Array(this.valueFeatureEtim.length).fill({});
                    //     newArr.splice(0, this.valueFeature.length, ...this.valueFeature);
                    // }
                    //
                    // console.log(newArr);
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {

                });
        },

        removeDuplicates() {
            var newArray = [];
            var lookupObject = {};
            var prop = 'featureId';
            for (var i in this.options) {
                lookupObject[this.options[i][prop]] = this.options[i];
            }
            for (i in lookupObject) {
                newArray.push(lookupObject[i]);
            }
            return newArray;
        },

        onSelect(index, uid) {
            let data = this.list[index];

            axios
                .post("/features/associate/etim", data)
                .then(response => {
                    this.options = response.data.data
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {

                });
        },

        onRemove: function (index) {

            let data = this.list[index];

            axios
                .post("/features/associate/etim", data)
                .then(response => {
                    this.options = response.data.data
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {

                });

        },


        getList(category) {
            axios
                .get("/features/get/etim?category=" + category)
                .then(response => {
                    this.options = response.data.data
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {

                });
        },

        setGoldFeature (gold, key) {
            this.preolader = true;
            this.enabled = false;
            var params = {};
            params.gold = (gold == 1) ? 0 : 1;
            params.category = this.list[key].pivot.category_retail_uid;
            params.feature = this.list[key].pivot.features_retail_uid;

            axios
                .post("/features/update/gold", params)
                .then(response => {

                    if (response.data.result == true) {
                        this.list[key].pivot.gold=params.gold;
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {
                    this.enabled = true;
                    this.preolader = false;
                });
        },


        updateQueueFeature (key) {

            this.preolader = true;
            this.enabled = false;
            //
            var params = {};
            params.value = this.list[key].pivot.queueFeature;
            params.category = this.list[key].pivot.category_retail_uid;
            params.feature = this.list[key].pivot.features_retail_uid;

            axios
                .post("/features/updateQueueFeature", params)
                .then(response => {

                    if (response.data.result == true) {
                        this.list[key].pivot.gold=params.gold;
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {
                    this.enabled = true;
                    this.preolader = false;
                });
        },

        displayFeature: function (display, key) {
            this.preolader = true;
            this.enabled = false;
            var params = {};
            params.display = (display == 1) ? 0 : 1;
            params.category = this.list[key].pivot.category_retail_uid;
            params.feature = this.list[key].pivot.features_retail_uid;

            axios
                .post("/features/update/display", params)
                .then(response => {

                    if (response.data.result == true) {
                        this.list[key].pivot.display_category_retail=params.display;
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {
                    this.enabled = true;
                    this.preolader = false;
                });
        },

        useFilterFeature: function (use, key) {
            this.preolader = true;
            this.enabled = false;
            var params = {};
            params.use = (use == 1) ? 0 : 1;
            params.category = this.list[key].pivot.category_retail_uid;
            params.feature = this.list[key].pivot.features_retail_uid;

            axios
                .post("/features/update/filter/use", params)
                .then(response => {
                    if (response.data.result == true) {
                        this.list[key].pivot.useFilter=params.use
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {
                    this.enabled = true;
                    this.preolader = false;
                });
        },

        changeSort() {
            this.preolader = true;
            var params = {};
            params.sortType = this.sortType;

            params.category = this.list[0].pivot.category_retail_uid;
            axios
                .post("/features/get/json", params)
                .then(response => {

                    if (response.data.result == true) {
                        this.list = response.data.data.features;
                        this.enabled = true;

                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {
                    this.preolader = false;
                });
        },

        getEtim: function (category, feature) {

            let params = {};
            params.category = category;
            params.feature = feature;

            this.$root.$emit('getEtimFeatures', params);
            this.showRightSidebar = true;
            this.showEtimFeature = true;
        },


        saveSort: function (list, $event) {
            this.preolader = true;
            var params = {};
            params.sortType = this.sortType;
            params.list = list;

            axios
                .post("/features/sort/update", params)
                .then(response => {

                    if (response.data.result == true) {
                        this.enabled = true;

                        this.$notify({
                            group: 'foo',
                            type: 'success',
                            position: 'top left',
                            title: 'Успешно',
                            text: 'Сортировка обновлена!'
                        });
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {
                    this.preolader = false;
                });
        },

        checkChecked: function (display) {
            if (display == 1) {
                return true;
            } else {
                return false;
            }
        },


        checkMove: function (e) {
            // this.enabled=false;
        },

        getLink(link, uid) {
            return link + uid;
        }

    }

}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>


<style>
.list-group-item--sort {
    display: contents;
    background-color: #fff;
    cursor: move;
    width: 100%;
    display: table-row !important;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.list-group--sort {
    width: 100%;
    margin: 16px 0;
    display: contents;
}

.right-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 800px;
    background: #fff;
    z-index: 1000;
    resize: vertical;
    overflow: auto;
    border-left: 2px solid;
}

.overlay {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.list-box {
    margin-bottom: 32px;
}

.dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #f4511e, #ff7a3c);
    box-shadow: 0 0 10px 0 #f4511e;
}

.uno {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;
}

.dos {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
}

.tres {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
}

.cuatro {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);
    }
    30% {
        transform: rotate(370deg);
    }
    35% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-180deg);
    }
    35% {
        transform: rotate(-190deg);
    }
    40% {
        transform: rotate(-180deg);
    }
    78% {
        transform: rotate(-180deg);
    }
    95% {
        transform: rotate(-360deg);
    }
    98% {
        transform: rotate(-370deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    27% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(180deg);
    }
    45% {
        transform: rotate(190deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    80% {
        transform: rotate(370deg);
    }
    85% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(0deg);
    }
    38% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-360deg);
    }
    65% {
        transform: rotate(-370deg);
    }
    75% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
    }

}

.value-list {
    list-style: none;
}

.value-item {
    padding: 7px 10px;
    width: 100%;
    border: 1px solid slategrey;
    cursor: move;
}

</style>
