<template>
    <div>
        <div class="input-field col s5">
            <table>
                <thead>
                <tr>
                    <th>Наименование баннера</th>
                    <th>Вкл/Выкл</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(list, index) in bannerArray">
                    <td>{{ list.name }}</td>
                    <td><a @click.prevent="editSlider(list.id, index)" href="">Редактировать</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="input-field col s7">

            <div v-if="currentBanner==null">
                <h3>Не выбран баннер</h3>
            </div>


            <div v-if="formVisible">

                <h4>{{ currentBannerTitle }}</h4>

                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Наименование баннера" v-model="form.name">
                    </div>
                    <div class="input-field col s6">
                        <input type="hidden" v-model="form.id">
                        <input type="hidden" v-model="form.file">
                    </div>
                    <div class=" input-field col s8">
                        <input type="text" v-model="form.url">
                    </div>
                    <div class=" input-field col s8">
                        <input @change="onAttachmentChangePhoto($event)" type="file">
                    </div>
                    <div class="input-field col s6">
                        <input type="hidden" v-model="form.type">
                    </div>

                    <div class="input-field col s6">
                        <a v-if="action=='edit'" @click.prevent="updateSlider()" class="waves-effect waves-light  btn">Обновить</a>
                    </div>
                </div>


            </div>

        </div>

    </div>
</template>


<script>
export default {
    props: [
        "banners"
    ],

    data() {
        return {
            bannerArray: [],
            currentBanner: null,
            currentBannerTitle: null,
            form: {
                id: null,
                name: null,
                type: null,
                file: 0,
                url: null,
            },
            formVisible: false,
            ean: null

        }
    },

    created() {
        this.bannerArray = this.banners;
    },

    watch: {
        ean (value) {
          console.log(value)
        }
    },

    methods: {
        searchEan() {
            alert(this.form.ean)
        },

        visibleForm() {
            this.formVisible = true;
            this.currentBanner = true;
            this.action = 'add';
            this.currentSliderTitle = null;
            this.form.id = null;
            this.form.name = null;
            this.form.file = null;
            this.form.type = null;
            this.form.url = null;
        },

        onAttachmentChangePhoto(e) {
            let form = new FormData();
            form.append('file', e.target.files[0]);
            axios
                .post("/banner/upload", form, {
                    headers: {"Content-Type": "multipart/form-data"}
                })
                .then(response => {
                    this.form.file = response.data;
                    alert('Слайд загружен');
                })
                .catch(err => {
                    this.showError("Произошла ошибка, попробуйте позднее");
                    console.log(err);
                });
        },


        editSlider(id, index) {
            this.action = 'edit';
            this.formVisible = true;
            this.currentBanner = this.bannerArray[index].id;
            this.currentBannerTitle = this.bannerArray[index].name;
            this.form.id = this.bannerArray[index].id;
            this.form.name = this.bannerArray[index].name;
            this.form.file = this.bannerArray[index].file;
            this.form.type = this.bannerArray[index].type;
            this.form.url = this.bannerArray[index].url;

        },

        updateSlider() {
            var params = this.form;
            axios
                .post("/banner/update", params)
                .then(response => {
                    this.bannerArray = response.data.data.banner;
                    alert('Баннер обновлен');

                    this.action = null;
                    this.formVisible = false;
                    this.currentSlider = null;
                    this.currentSliderTitle = null;
                    this.form.id = null;
                    this.form.name = null;
                    this.form.file = null;
                    this.form.url = null;
                    this.form.type = null;
                })
                .catch(err => {
                    this.showError("Произошла ошибка, попробуйте позднее");
                    console.log(err);
                });
        },

        desplayBanner(id, display) {
            var params = {};

            params.id = id;
            params.display = display;
            axios
                .post("/banner/ddisplay", params)
                .then(response => {
                    this.bannerArray = response.data.data.banner;
                })
                .catch(err => {
                    this.showError("Произошла ошибка, попробуйте позднее");
                    console.log(err);
                });
        }


    }
}
</script>
