<template>
    <div class="storage-brand">
        <a @click.prevent="openModal()" href="">
            {{dataUser.phone}}
        </a>
        <modal :name="getName()" transition="pop-out" @closed="closed" @before-close="beforeClose" :width="460"
               :scrollable="true" :adaptive="true" height="auto">
            <div class="header-modal">
                <h3>Изменить телефон</h3>
                <a @click.prevent="closeModal" class="close-modal-auth">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.9999 1.00006L1.0009 15.9991" stroke="#ACACAC" stroke-opacity="0.5"
                              stroke-width="2"
                              stroke-linecap="round"/>
                        <path d="M15.999 15.9999L0.999921 1.00089" stroke="#ACACAC" stroke-opacity="0.5"
                              stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </a>
            </div>
            <div class="content-modal">
                <div class="form-group">
                    <label for="">Телефон</label>
                    <input type="text"  disabled v-model="dataUser.phone">
                </div>
                <div class="form-group">
                    <masked-input mask="\+\7 (***) ***-**-**" placeholder="+7 (___) ___-__-__"
                                  v-model="newPhone"

                                  @input="rawVal = arguments[1]"/>
                </div>

                <div class="form-group">
                    <button @click.prevent="savePhone()" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </modal>
    </div>
</template>

<script>
import MaskedInput from 'vue-masked-input'
export default  {
    name:'phone_edit',
    props:[
        'user'
    ],
    components: {MaskedInput},

    data () {
        return {
            dataUser:{},
            newPhone: '',

        }
    },
    created() {
      this.dataUser=this.user;
    },

    methods:{
        getName () {
          return 'phone_'+this.user.id;
        },
        openModal () {
            this.$modal.show('phone_'+this.user.id)
        },
        closeModal () {
            this.$modal.hide('phone_'+this.user.id)
        },
        beforeClose () {
            this.newPhoner='';
        },
        closed () {

        },
        savePhone() {
            var params = {};
            params.userId = this.user.id;
            params.phone = this.newPhone;

            axios
                .post("/clients/update/phone", params)
                .then(response => {
                    this.dataUser.phone=this.newPhone;
                    this.$modal.hide('phone_' + this.user.id);
                })
                .catch(err => {

                })
                .then(() => {

                });
        }
    }
}
</script>
<style lang="scss">
.header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    box-sizing: border-box;

    h3 {
        font-size: 18px;
    }
}
.content-modal {
    padding: 24px 16px;
}
.storage-brand {
    display: flex;
    position: relative;
}
</style>
