<template>
    <div>
        <div class="input-field col s5">
            <div class="row">
                <div class="input-field col s6">
                    <a @click.prevent="visibleForm()" class="waves-effect waves-light  btn">Добавить сладер</a>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th>Наименование слайдера</th>
                    <th>Вкл/Выкл</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(list, index) in sliderArray">
                    <td>{{list.title}}</td>
                    <td><a @click.prevent="editSlider(list.id, index)" href="">Редактировать</a></td>
                    <td><a @click.prevent="delSlider(list.id)" href="">Удалить</a></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="input-field col s7">

            <div v-if="currentSlider==null">
                <h3>Не выбран слайдер</h3>
            </div>


            <div v-if="formVisible">

                <h4 v-if="currentSlider==true">Добавление слайдера</h4>
                <h4>{{currentSliderTitle}}</h4>

                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Наименование слайдера" v-model="form.title">
                    </div>
                    <div class="input-field col s6">
                        <input type="hidden" v-model="form.id">
                        <input type="hidden" v-model="form.file">
                    </div>

                    <div class=" input-field col s8">
                        <input @change="onAttachmentChangePhoto($event)" type="file">
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="Ссылка" v-model="form.url">
                    </div>

                    <div class="input-field col s6">
                        <input placeholder="Сортировка" v-model="form.sort">
                    </div>
                    <div class="input-field col s6">
                        <a v-if="action=='add'" @click.prevent="addSlider()" class="waves-effect waves-light  btn">Добавить</a>
                        <a v-if="action=='edit'" @click.prevent="updateSlider()" class="waves-effect waves-light  btn">Обновить</a>
                    </div>
                </div>


            </div>

        </div>

    </div>
</template>


<script>
    export default {
        props: [
            "sliders"
        ],

        data() {
            return {
                sliderArray: [],
                currentSlider: null,
                currentSliderTitle: null,
                form: {
                    id: null,
                    title: null,
                    file: null,
                    url: null,
                    sort: 0
                },
                formVisible: false,
                action: null
            }
        },

        created() {
            this.sliderArray = this.sliders;
        },

        methods: {

            visibleForm() {
                this.formVisible = true;
                this.currentSlider = true;
                this.action = 'add';
                this.currentSliderTitle = null;
                this.form.id = null;
                this.form.title = null;
                this.form.file = null;
                this.form.url = null;
                this.form.sort = null;
            },

            onAttachmentChangePhoto(e) {
                let form = new FormData();
                form.append('file', e.target.files[0]);
                axios
                    .post("/slider/upload", form, {
                        headers: {"Content-Type": "multipart/form-data"}
                    })
                    .then(response => {
                        this.form.file = response.data;
                        alert('Слайд загружен');
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            },

            addSlider() {


                var params = this.form;
                axios
                    .post("/slider/store", params)
                    .then(response => {
                        this.sliderArray = response.data.data.slider;
                        alert('Слайд загружен');
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            },

            editSlider(id, index) {
                this.action='edit';
                this.formVisible = true;
                this.currentSlider = this.sliderArray[index].id;
                this.currentSliderTitle = this.sliderArray[index].title;
                this.form.id = this.sliderArray[index].id;
                this.form.title = this.sliderArray[index].title;
                this.form.file = this.sliderArray[index].file;
                this.form.url = this.sliderArray[index].url;
                this.form.sort = this.sliderArray[index].sort;

            },

            updateSlider() {
                var params = this.form;
                axios
                    .post("/slider/update", params)
                    .then(response => {
                        this.sliderArray = response.data.data.slider;
                        alert('Слайд обновлен');

                        this.action=null;
                        this.formVisible = false;
                        this.currentSlider = null;
                        this.currentSliderTitle = null;
                        this.form.id = null;
                        this.form.title = null;
                        this.form.file = null;
                        this.form.url = null;
                        this.form.sort = null;
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            },

            delSlider(id) {
                var params = {};

                params.id = id;
                axios
                    .post("/slider/delete", params)
                    .then(response => {
                        this.sliderArray = response.data.data.slider;
                        alert('Слайд удален');
                    })
                    .catch(err => {
                        this.showError("Произошла ошибка, попробуйте позднее");
                        console.log(err);
                    });
            }


        }
    }
</script>
