<template>

    <div class="col s12">

        <table>
            <thead>
            <tr>
                <th>Наименование</th>
                <th>Подкатегорий</th>
                <th>Дата создания</th>
                <th>ETIM</th>
                <th>Свойства</th>
            </tr>
            </thead>
            <tbody>

            <draggable
                @change='changed(list, $event)'
                :list="list"
                :disabled="!enabled"
                class="list-group--sort"
                ghost-class="ghost"
                :move="checkMove()"
                @start="dragging = true"
                @end="dragging = false"
            >

                <tr v-if="list.length>0"
                    v-for="d in list"
                    :key="d.title"
                    class="list-group-item--sort"
                >

                    <td>
                        <a :href="getLink('/category-retail/edit/', d.uid)">{{ d.title }}</a>
                    </td>
                    <td>
                        <a :href="getLink('/category-retail?uid=', d.uid)">{{ d.categories.length }}</a>
                    </td>
                    <td>{{ d.created_at | moment("DD.MM.YY") }}</td>
                    <td><a :href="getLink('/category-retail/relation/etim/', d.uid)">{{ d.etim.length }}</a></td>
                    <td><a :href="getLink('/features?category=', d.uid)">{{ d.features.length }}</a></td>
                </tr>


                <tr v-else>
                    <td style="text-align: center;" colspan="3"><b>Категории
                        отсутствуют</b></td>
                </tr>


            </draggable>
            </tbody>
        </table>
        <notifications group="foo"  />
    </div>

</template>

<script>
import draggable from 'vuedraggable';

export default {

    props: [
        'category'
    ],
    components: {
        draggable
    },
    data() {
        return {
            enabled: true,
            dragging: false,
            list: [],

            newList: []
        }
    },

    created() {
        this.list = this.category;
    },

    computed: {
        draggingInfo() {
            return this.dragging ? "under drag" : "";
        }
    },
    mounted() {

    },

    methods: {

        changed: function (todoList, $event) {


            axios
                .post("/category-retail/sort/update", todoList)
                .then(response => {

                    if (response.data.success == 1) {
                        this.enabled = true;
                        this.$notify({
                            group: 'foo',
                            type: 'success',
                            position: 'top left',
                            title: 'Успешно',
                            text: 'Сортировка обновлена!'
                        });
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {

                });

        },


        checkMove: function (e) {
            // this.enabled=false;
        },

        getLink(link, uid) {
            return link + uid;
        }

    }

}
</script>

<style>
.list-group-item--sort {
    display: contents;
    background-color: #fff;
    cursor: move;
    width: 100%;
    display: table-row !important;
}

.list-group--sort {
    width: 100%;
    margin: 16px 0;
    display: contents;
}
</style>
