<template>

    <div class="col s6 list-box">
        <div v-if="preolader==true" class="overlay">
            <div class="dash uno"></div>
            <div class="dash dos"></div>
            <div class="dash tres"></div>
            <div class="dash cuatro"></div>
        </div>
        <div class="col s6">
            <h5>Доступные классы</h5>
        </div>

        <div class="col s6">
            <h5>Связанные классы</h5>
        </div>
        <v-multiselect-listbox @change="changed($event)" v-model="relatedList" :options="list"></v-multiselect-listbox>
    </div>

</template>

<script>
import vMultiselectListbox from 'vue-multiselect-listbox'
import 'vue-multiselect-listbox/dist/vue-multi-select-listbox.css';

export default {

    props: [
        'etim',
        'category'
    ],
    components: {
        vMultiselectListbox
    },
    data() {
        return {
            list: [],
            relatedList: [],
            preolader: false
        }
    },

    created() {
        this.list = this.etim.etim;
        this.relatedList = this.etim.related;
    },

    computed: {},
    mounted() {

    },

    methods: {

        getEtimClass: function () {

            axios
                .get("/category-retail/relation/etim/not")
                .then(response => {

                        this.list=response.data


                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {
                    this.preolader=false;
                });
        },

        changed: function (evt) {
            this.preolader=true;
            var param = {};
            param.etim = evt;
            param.uid = this.category;

            axios
                .post("/category-retail/relation/etim/update", param)
                .then(response => {

                    this.getEtimClass();

                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {

                });

        }
    }

}
</script>

<style>
.overlay {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.list-box {
    margin-bottom: 32px;
}

.dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background-image: linear-gradient(90deg,#f4511e,#ff7a3c);
    box-shadow: 0 0 10px 0 #f4511e;
}

.uno {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;
}

.dos {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
}

.tres {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
}

.cuatro {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(360deg);
    }
    30% {
        transform: rotate(370deg);
    }
    35% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-180deg);
    }
    35% {
        transform: rotate(-190deg);
    }
    40% {
        transform: rotate(-180deg);
    }
    78% {
        transform: rotate(-180deg);
    }
    95% {
        transform: rotate(-360deg);
    }
    98% {
        transform: rotate(-370deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(0deg);
    }
    27% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(180deg);
    }
    45% {
        transform: rotate(190deg);
    }
    50% {
        transform: rotate(180deg);
    }
    62% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    80% {
        transform: rotate(370deg);
    }
    85% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin4 {
    0% {
        transform: rotate(0deg);
    }
    38% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-360deg);
    }
    65% {
        transform: rotate(-370deg);
    }
    75% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
</style>
