<template>
    <div id="main">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l10">
                            <p>
                                <a @click.prevent="saveNested()" class="btn waves-effect waves-light green darken-1">Сохранить структуру</a>
                            </p>
                        </div>

                        <div class="col s3"></div>
                        <div class="col s6">
                            <vue-nestable v-model="list">
                                <vue-nestable-handle
                                    slot-scope="{ item }"
                                    :item="item">
                                    {{ item.text }}
                                </vue-nestable-handle>
                            </vue-nestable>
                        </div>
                        <div class="col s3">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l10">
                            <p>
                                <a @click="saveNested" class="btn waves-effect waves-light green darken-1">Сохранить структуру</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import { VueNestable, VueNestableHandle } from 'vue-nestable'
export default {

    props: [
        'category'
    ],
    components: {
        VueNestable,
        VueNestableHandle
    },
    data() {
        return {
            enabled: true,
            dragging: false,
            list: [

            ]
        }
    },

    created() {
        this.list=this.category;
    },

    computed: {

    },
    mounted() {

    },

    methods: {

        saveNested: function (){
            axios
                .post("/category-retail/struct/update", this.list)
                .then(response => {
                    if (response.data.result == true) {
                        this.enabled=true;
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {

                });
        }

    }

}
</script>

<style>
.nestable-item {

    border: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    background-color: #fff;
    cursor: move;
}

.list-group--sort {
    margin: 16px 0;
}
</style>
