<template>

                        <div class="col s6">
                            <draggable
                                @change='changed(list, $event)'
                                :list="list"
                                :disabled="!enabled"
                                class="list-group--sort"
                                ghost-class="ghost"
                                :move="checkMove()"
                                @start="dragging = true"
                                @end="dragging = false"
                            >
                                <div
                                    class="list-group-item--sort"
                                    v-for="element in list"
                                    :key="element.title"
                                >
                                    {{ element.title }}
                                </div>
                            </draggable>.
                        </div>

</template>

<script>
import draggable from 'vuedraggable';

export default {

    props: [
        'category'
    ],
    components: {
        draggable
    },
    data() {
        return {
            enabled: true,
            dragging: false,
            list: [

            ],

            newList:[]
        }
    },

    created() {
       this.list=this.category;
    },

    computed: {
        draggingInfo() {
            return this.dragging ? "under drag" : "";
        }
    },
    mounted() {

    },

    methods: {

        changed: function(todoList, $event) {


            axios
                .post("/category-retail/sort/update", todoList)
                .then(response => {
                    if (response.data.result == true) {
                        this.enabled=true;
                    }
                })
                .catch(err => {
                    console.log(err);
                })
                .then(() => {

                });

        },


        checkMove: function(e) {
            // this.enabled=false;



        }
    }

}
</script>

<style>
.list-group-item--sort {
    display: flex;
    border: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    background-color: #fff;
    cursor: move;
}

.list-group--sort {
    margin: 16px 0;
}
</style>
