<template>

        <a @click.prevent="openDelivery()" href="">
            {{dataBrand.title}}
            <modal :name="getName()" transition="pop-out" @closed="closed" @before-close="beforeClose" :width="460"
                   :scrollable="true" :adaptive="true" height="auto">
                <div class="header-modal">
                    <h3>Срок доставки - {{dataBrand.title}}</h3>
                    <a @click.prevent="closeModal" class="close-modal-auth">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9999 1.00006L1.0009 15.9991" stroke="#ACACAC" stroke-opacity="0.5"
                                  stroke-width="2"
                                  stroke-linecap="round"/>
                            <path d="M15.999 15.9999L0.999921 1.00089" stroke="#ACACAC" stroke-opacity="0.5"
                                  stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </a>
                </div>
                <div class="content-modal">
                    <div class="form-group">
                        <input type="text" placeholder="Срок доставки" v-model="dataBrand.timeDelivery">
                    </div>

                    <div class="form-group">
                        <button @click.prevent="setTimeDeliveryBrand" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>


            </modal>
        </a>

</template>

<script>
export default {
    name: 'brand-raec-delivery',
    props:[
        'brand'
    ],

    data() {
        return {
            dataBrand:{},
            show: false
        }
    },

    created () {
        this.dataBrand=this.brand;
    },

    methods:{
        getName() {
            return 'delivery_'+this.dataBrand.brand_id;
        },
        openDelivery () {
          this.$modal.show('delivery_'+this.dataBrand.brand_id);
        },
        closeModal () {
            this.$modal.hide('delivery_'+this.dataBrand.brand_id);
        },

        closed () {

        },

        beforeClose() {

        },

        setTimeDeliveryBrand () {
            var params = {};
            params.timeDelivery = this.dataBrand.timeDelivery;
            params.brandId = this.dataBrand.brand_id;

            axios
                .post("/brand/delivery", params)
                .then(response => {
                    this.closeModal();
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        position: 'top left',
                        title: 'Успешно',
                        text: 'Срок поставки обновлен'
                    });
                })
                .catch(err => {

                })
                .then(() => {

                });
        }
    }
}
</script>

<style lang="scss">
.header-modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    box-sizing: border-box;

    h3 {
        font-size: 18px;
    }
}
.content-modal {
    padding: 24px 16px;
}
</style>
