<template>
    <label>
        <input type="checkbox" class="filled-in"
               @click="displayBrand(dataBrand.display)"
               :checked="dataBrand.display" :value="dataBrand.display"/>
        <span></span>
        <notifications group="foo"  />
    </label>
</template>

<script>
export default {
    name: 'brand-raec-display',
    props:[
        'brand'
    ],

    data() {
        return {
            dataBrand:{}
        }
    },

    created () {
        this.dataBrand=this.brand;
    },

    methods:{
        displayBrand (display) {
            var params = {};
            params.display = (display == 1) ? 0 : 1;
            params.brandId = this.dataBrand.brand_id;
            this.dataBrand.display=(display == 1) ? 0 : 1;

            axios
                .post("/brand/display", params)
                .then(response => {
                    if (this.dataBrand.display==1){
                        var message='Бренд включен'
                    }else{
                        var message='Бренд выключен'
                    }
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        position: 'top left',
                        title: 'Успешно',
                        text: message
                    });
                })
                .catch(err => {

                })
                .then(() => {

                });
        }
    }
}
</script>
