<template>
    <div class="storage-brand">
        <a @click.prevent="openDelivery" href="">
            {{ dataBrand.storage_brand.length }}
        </a>
        <modal :name="getName()" transition="pop-out" @closed="closed" @before-close="beforeClose" :width="650"
               :scrollable="true"  height="auto">
            <div class="header-modal">
                <h3>Склады- {{ dataBrand.title }}</h3>
                <a @click.prevent="closeModal" class="close-modal-auth">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.9999 1.00006L1.0009 15.9991" stroke="#ACACAC" stroke-opacity="0.5"
                              stroke-width="2"
                              stroke-linecap="round"/>
                        <path d="M15.999 15.9999L0.999921 1.00089" stroke="#ACACAC" stroke-opacity="0.5"
                              stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </a>
            </div>
            <div class="content-modal">

                <table>
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>
                            Срок поставки
                        </th>
                        <th>Вкл/Выкл</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(s, index) in dataBrand.storage_brand">
                        <td>{{ s.title }}</td>
                        <td>

                            <div class="form-group">
                                <input style="width: 200px" type="text" placeholder="Срок доставки" v-model="dataBrand.storage_brand[index].timeDelivery">

                                <button @click.prevent="setDeliveryStorage(index)" class="btn btn-primary">
                                    Сохранить
                                </button>
                            </div>

                        </td>
                        <td>
                            <label>
                                <input type="checkbox" class="filled-in"
                                       @click="displayStorage(dataBrand.storage_brand[index].display, dataBrand.storage_brand[index].storage_id, index)"
                                       :checked="dataBrand.storage_brand[index].display"
                                       :value="dataBrand.storage_brand[index].display"/>
                                <span></span>
                            </label>
                        </td>
                    </tr>

                    </tbody>
                </table>


            </div>


        </modal>
        <notifications group="foo"  />
    </div>
</template>
<script>
export default {
    name: 'storage-brand',
    props: [
        'brand'
    ],

    data() {
        return {
            dataBrand: {}
        }
    },

    created() {
        this.dataBrand = this.brand;
    },

    methods: {
        setDeliveryStorage(index) {
            var params = {};
            params.timeDelivery = this.dataBrand.storage_brand[index].timeDelivery;
            params.storageId = this.dataBrand.storage_brand[index].storage_id;


            axios
                .post("/storage/delivery", params)
                .then(response => {
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        position: 'top left',
                        title: 'Успешно',
                        text: 'Срок поставки обновлен!'
                    });
                })
                .catch(err => {

                })
                .then(() => {

                });
        },
        displayStorage(display, storageId, index) {
            var params = {};
            params.display = (display == 1) ? 0 : 1;
            params.storageId = storageId;

            this.dataBrand.storage_brand[index].display=(display == 1) ? 0 : 1;

            axios
                .post("/storage/display", params)
                .then(response => {

                    if (params.display==1){
                        var message='Склад включен'
                    }else{
                        var message='Склад выключен'
                    }
                    this.$notify({
                        group: 'foo',
                        type: 'success',
                        position: 'top left',
                        title: 'Успешно',
                        text: message
                    });
                })
                .catch(err => {

                })
                .then(() => {

                });
        },
        getName() {
            return 'storage_' + this.dataBrand.brand_id;
        },
        openDelivery() {
            var params = {};
            params.brand_id = this.dataBrand.brand_id;

            axios
                .post("/storage/get", params)
                .then(response => {
                    this.dataBrand=response.data.data;
                    this.$modal.show('storage_' + this.dataBrand.brand_id);
                })
                .catch(err => {

                })
                .then(() => {

                });

        },
        closeModal() {
            this.$modal.hide('storage_' + this.dataBrand.brand_id);
        },

        closed() {

        },

        beforeClose() {

        },
    }
}
</script>

<style lang="scss">
.storage-brand {
    display: flex;
    position: relative;
}
</style>
