<template>
  <div>
    <div class="input-field col s5">
      <div class="row">
        <div class="input-field col s6">
          <input id="title_list" placeholder="Наименование списка" v-model="listTitle">

        </div>
        <div class="input-field col s6">
          <a @click.prevent="addList()" class="waves-effect waves-light  btn">Создать</a>
        </div>
      </div>

      <table>
        <thead>
        <tr>
          <th>Наименование списка</th>
          <th>На главной</th>
          <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <draggable
            @change='saveSort(list, $event)'
            :list="listArray"
            :disabled="!enabled"
            class="list-group--sort"
            ghost-class="ghost"
            :move="checkMove()"
            @start="dragging = true"
            @end="dragging = false"
        >
          <tr v-for="(list, index) in listArray">
            <td><a @click.prevent="getProducts(list, list.id, list.view, list.title)" href="">{{ list.title }}</a></td>
            <td v-if="list.display==0"><a @click.prevent="display(list.id, index, 1)" href="">На главную</a>
            </td>
            <td v-if="list.display==1"><a @click.prevent="display(list.id, index, 0)" href="">Убрать с
              главной</a></td>
            <td><a @click.prevent="deleteList(list.id)" href="">Удалить</a></td>
          </tr>
        </draggable>
        </tbody>
      </table>

    </div>

    <div class="input-field col s7">

      <div v-if="currentList==null">
        <h3>Не выбран список</h3>
      </div>
      <div v-if="currentList!=null && products.length==0">
        <template v-if="not==0">
          <div class="row">
            <div class="input-field col s6">
              <input id="sku" placeholder="Артикул товара" v-model="newSku">

            </div>
            <div class="input-field col s6">
              <a @click.prevent="addListProduct()" class="waves-effect waves-light  btn">Добавить</a>
            </div>
          </div>
          <h3>Не найдено товаров</h3>
        </template>

      </div>

      <div v-if="products.length>0">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Наименование списка" v-model="currentListTitle">

          </div>
          <div class="input-field col s6">
            <a @click.prevent="saveTitle()" class="waves-effect waves-light  btn">Сохранить</a>
          </div>
        </div>
        <h4>Вид</h4>
        <div class="row">
          <div class="input-field col s6">
            <div class="input-field col s12">
              <select v-model="listView" style="display: block;">
                <option value="slider">Слайдер</option>
                <option value="list">Список</option>
              </select>
            </div>
            <!--            <label>-->
            <!--              <input name="main_page" v-model="listView"-->
            <!--                 :value="1" type="checkbox"/>-->
            <!--              <span>Списком</span>-->
            <!--            </label>-->
          </div>
          <div class="input-field col s6">
            <a @click.prevent="saveViewList()" class="waves-effect waves-light  btn">Сохранить вид</a>
          </div>
        </div>
        <template v-if="not===0">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Артикул товара" v-model="newSku">

            </div>
            <div class="input-field col s6">
              <a @click.prevent="addListProduct()" class="waves-effect waves-light  btn">Добавить</a>
            </div>
          </div>
        </template>


        <h4>Теги</h4>
        <div class="row">
          <div class="input-field col s6">
            <vue-tags-input
                v-model="tag"
                :tags.sync="tags"
                @tags-changed="newTags => tags = newTags"
            />
          </div>
        </div>
        <br>
        <h5>Добавить стикеры к товарам</h5>
        <input type="file" ref="fileupload" @change="onFileChange">
        <br>

        <h4>{{ currentListTitle }}</h4>
        <table>
          <thead>
          <tr>
            <th>Наименование товара</th>
            <th>Артикул</th>
            <th>Действия</th>
          </tr>
          </thead>
          <tbody>
          <draggable
              @change='saveSortProduct(products, $event)'
              :list="products"
              :disabled="!enabled"
              class="list-group--sort"
              ghost-class="ghost"
              :move="checkMove()"
              @start="dragging = true"
              @end="dragging = false"
          >
            <tr v-for="(p, index) in products">
              <td style="width: 220px;">{{ p.product.title }}</td>
              <td>{{ p.product.sku }}</td>
              <td>

                <multiselect

                    @input="onSelect(index, $event)"
                    v-model="products[index].tags"
                    :options="tags"
                    placeholder="Выбрать теги"
                    :multiple="true"
                    label="text"
                    track-by="text"
                    :close-on-select="false" :clear-on-select="false" :preserve-search="true"
                >
                  <template slot="selection" slot-scope="{ values, search, isOpen }"><span
                      class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{
                      values.length
                    }} options selected</span>
                  </template>
                </multiselect>
              </td>
              <td>
                <a v-if="not==0" @click.prevent="deleteListProduct(p.product_uid)"><i
                    class="material-icons">delete</i></a>
                <input type="file" :ref="'fileupload_'+p.product_uid"
                       @change="onFileChangeProduct($event, p.product_uid)">
              </td>
            </tr>
          </draggable>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</template>

<script>
import draggable from 'vuedraggable';
import VueTagsInput from '@johmun/vue-tags-input';
import Multiselect from 'vue-multiselect'

export default {
  props: [
    "list"
  ],
  components: {
    draggable,
    VueTagsInput,
    Multiselect,
  },

  data() {
    return {
      listView: "slider",
      tagsProduct: [],
      listArray: [],
      products: [],
      edit: [],
      listTitle: null,
      currentList: null,
      currentListTitle: null,
      newSku: null,
      enabled: true,
      dragging: false,
      tag: '',
      tags: [],
      tagsProducts: [],
      autocompleteItems: [],
      handlers: [],
      productsTags: [],
      not: 0
    }
  },

  created() {
    this.listArray = this.list;
  },

  watch: {
    tags(val) {
      if (val[0] && val[0].text) {
        this.saveTags(1);
      }
    },

  },
  computed: {
    filteredItems() {
      return this.autocompleteItems.filter(i => {
        return i.text.toLowerCase().indexOf(this.tag.toLowerCase()) !== -1;
      });
    },
  },

  methods: {
    saveViewList() {
      let params = {}
      params.view = this.listView;
      params.id = this.currentList;
      axios.post('/list/product/change/view', params)
          .then((res) => {

            alert("Вид изменен");
          })
          .catch((error) => {

          });
    },
    onFileChange(event) {
      var picture = event.target.files[0];
      let formData = new FormData();
      formData.append("sticker", picture);
      formData.append("id", this.currentList);

      axios.post('/upload/list/sticker', formData)
          .then((res) => {
            this.$refs.fileupload.value = null;
            alert("Стикер загружен");
          })
          .catch((error) => {

          });
    },

    onFileChangeProduct(event, uid) {
      var picture = event.target.files[0];
      let formData = new FormData();
      formData.append("sticker", picture);
      formData.append("id", this.currentList);
      formData.append("product_uid", uid);

      axios.post('/upload/list/sticker/product', formData)
          .then((res) => {
            this.$refs['fileupload_' + uid].value = null;
            alert("Стикер загружен");
          })
          .catch((error) => {

          });
    },
    saveSortProduct(product, $event) {
      var params = {};
      params.products = product;
      console.log(params);

      axios
          .post("/list/product/sort/update/product", params)
          .then(response => {

            if (response.data.result == true) {
              this.enabled = true;

              this.$notify({
                group: 'foo',
                type: 'success',
                position: 'top left',
                title: 'Успешно',
                text: 'Сортировка обновлена!'
              });
            }
          })
          .catch(err => {
            console.log(err);
          })
          .then(() => {
            this.preolader = false;
          });
    },
    onSelect(index, evt) {

      const params = {};
      params.product_uid = this.products[index].product.uid;
      params.tags = this.products[index].tags;
      params.list_id = this.currentList;
      axios
          .post("/list/product/saveTags/product", params)
          .then(response => {

            if (response.data.result == true) {

            }
          })
          .catch(err => {
            console.log(err);
          })
          .then(() => {
            this.preolader = false;
          });
    },

    onRemove: function (index, deletedItem) {

      this.products[index].tags.filter(item => {
        return item.text !== deletedItem.text;
      })
      const params = {};
      params.product_uid = this.products[index].product.uid;
      params.tags = this.products[index].tags;
      params.list_id = this.currentList;
      axios
          .post("/list/product/saveTags/product", params)
          .then(response => {

            if (response.data.result == true) {

            }
          })
          .catch(err => {
            console.log(err);
          })
          .then(() => {
            this.preolader = false;
          });


    },

    saveTags(i) {
      const params = {
        tags: this.tags,
        list: this.currentList
      }
      axios
          .post("/list/product/saveTags", params)
          .then(response => {
            console.log(response.data.result)

            if (response.data.result == true) {
              // this.getProducts(this.currentList, this.currentListTitle);
            }
          })
          .catch(err => {
            console.log(err);
          })
          .then(() => {
            this.preolader = false;
          });
    },

    checkMove: function (e) {
      // this.enabled=false;
    },

    saveSort: function (list, $event) {
      this.preolader = true;
      var params = {};
      // params.sortType = this.sortType;
      params.list = list;

      axios
          .post("/list/product/sort/update", params)
          .then(response => {

            if (response.data.result == true) {
              this.enabled = true;

              this.$notify({
                group: 'foo',
                type: 'success',
                position: 'top left',
                title: 'Успешно',
                text: 'Сортировка обновлена!'
              });
            }
          })
          .catch(err => {
            console.log(err);
          })
          .then(() => {
            this.preolader = false;
          });
    },


    copy(id, index) {
      let value = '{list_product_' + id + '}';
      this.copyToClipboard(value);
      this.ui_copyDone(value);
    },

    copyToClipboard(str) {
      var area = document.createElement('textarea');

      document.body.appendChild(area);
      area.value = str;
      area.select();
      document.execCommand("copy");
      document.body.removeChild(area);
    },

    ui_copyDone(btn) {
      var contentSaved = btn.innerHTML;

      btn.innerHTML = 'Скопирова<span style="color: red;">но</span>';
      btn.classList.add('copied');

      setTimeout(function () {
        btn.innerHTML = contentSaved;
        btn.classList.remove('copied');
      }, 1500);
    },

    addList() {
      var params = {};

      params.title = this.listTitle;
      params.display = 0;
      axios
          .post("/list/product/store", params)
          .then(response => {
            if (response.data.result == true) {
              this.listArray = response.data.data.list;
              // this.showSuccess(response.data.data.message);
              this.listTitle = null;
            } else {
              // this.showError(response.data.error.message)
            }
          })
          .catch(err => {
            console.log(err);
            this.showSaveError();
          })
          .then(() => {
            this.formSended = false;
          });
    },

    getProducts(list, id, view, title) {
      this.currentList = id;
      this.currentListTitle = title;
      this.listView = view;

      var params = {};

      params.list_id = id;

      axios
          .post("/list/product/get", params)
          .then(response => {
            if (response.data.result == true) {

              this.products = response.data.data.products;
              this.tags = response.data.data.tags;
              this.not = list.not;

            } else {
              this.showError(response.data.error.message)
            }
          })
          .catch(err => {
            console.log(err);
            this.showSaveError();
          })
          .then(() => {
            this.formSended = false;
          });
    },

    addListProduct() {
      var params = {};

      params.sku = this.newSku;
      params.list_id = this.currentList;
      axios
          .post("/list/product/store/item", params)
          .then(response => {
            if (response.data.result == true) {
              this.products = response.data.data.list;
              this.newSku = null;
              this.showError(response.data.data.message);
            } else {
              this.showError(response.data.error.message)
            }
          })
          .catch(err => {
            console.log(err);
            this.showSaveError();
          })
          .then(() => {
            this.formSended = false;
          });
    },

    saveTitle() {
      const params = {
        title: this.currentListTitle,
        list_id: this.currentList
      }
      axios
          .post("/list/product/title/save", params)
          .then(response => {
            if (response.data.result == true) {
              // this.products=response.data.data.list;
              alert(response.data.data.message);
              this.listArray = response.data.data.list;
            } else {
              this.showError(response.data.error.message)
            }
          })
          .catch(err => {
            console.log(err);
            this.showSaveError();
          })
          .then(() => {
            this.formSended = false;
          });
    },

    display(id, index, display) {
      var params = {};
      params.list_id = id;
      params.display = display;

      axios
          .post("/list/product/display", params)
          .then(response => {
            if (response.data.result == true) {
              // this.products=response.data.data.list;
              this.showError(response.data.data.message);
              this.listArray[index].display = display;
            } else {
              this.showError(response.data.error.message)
            }
          })
          .catch(err => {
            console.log(err);
            this.showSaveError();
          })
          .then(() => {
            this.formSended = false;
          });
    },

    deleteList(id) {
      var params = {};
      params.id = id;

      axios
          .post("/list/product/delete", params)
          .then(response => {
            if (response.data.result == true) {
              this.listArray = response.data.data.list;
              this.products = response.data.data.list;
              this.showError(response.data.data.message)
            } else {
              this.showError(response.data.error.message)
            }
          })
          .catch(err => {
            console.log(err);
            this.showSaveError();
          })
          .then(() => {
            this.formSended = false;
          });
    },

    deleteListProduct(uid) {
      var params = {};

      params.uid_product = uid;
      params.list_id = this.currentList;

      axios
          .post("/list/product/delelet/item", params)
          .then(response => {
            if (response.data.result == true) {
              this.products = response.data.data.list;
              this.showError(response.data.data.message)
            } else {
              this.showError(response.data.error.message)
            }
          })
          .catch(err => {
            console.log(err);
            this.showSaveError();
          })
          .then(() => {
            this.formSended = false;
          });
    },
  }
}

</script>
